body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-container {
  width: 35% !important;
  height: 100vh;
}

.product-button {
  margin-top: 2%;
}

.category {
  text-align: center;
  height: 40px;
  border-radius: 6px;
}

.product-error-message {
  color: rgb(192, 29, 29);
}

.product-button {
  display: flex;
  justify-content: space-evenly;
}

.input {
  height: 40px;
  padding: 2%;
  border-radius: 6px;
}

.label {
  margin-bottom: 1%;
  margin-top: 1%;
}

.admin-table {
  margin-top: 4%;
}

.card-title {
  font-size: 1.2rem !important;
  font-family: emoji;
  padding: 1%;
}

.pagination {
  justify-content: center;
  margin-top: 2%;
}

.page-item {
  font-size: 30px;
}

.price, .product-price {
  color: rgb(194, 22, 22);
}

.logo-name {
  color: #fefefe;
  box-shadow: 1px 1px 1px 0px blue;
  font-family: emoji;
}

.page-link {
  font-family: emoji;
}

.form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 3%;
  background-color: #e2dede;
  border-radius: 15px;
  margin-top: 4%;
}