.checkout-container {
    width: 70%;
    margin: 0 auto;
}

.card-container {
    height: 50vh;
}

.image-container {
    height: 80%;
}

.card-image {
    padding: 2% !important;
    height: 100% !important;
    object-fit: cover;
}

.card-body {
    height: 30%;
}